/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* index.css */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 15px;
}

.nav {
  height: 100%;
  background-color: #333333;
  border-bottom: 5px solid #EFBB40;

}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.li {
  padding-left: 29.5px;
  padding-right: 29.5x;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 32px;
  border-radius: 12px;
}

.navlinks li {
  list-style: none;
  margin: 0 12px;
}

.navlinks li a {
  position: relative;
  color: #EFBB40;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}

.navlinks li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #EFBB40;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.navlinks li a:hover:before {
  width: 100%;
}